{% extends 'locadora/base.html' %}

{% block content %}
    <div class="d-flex justify-content-center mt-4">
        <div class="shadow-sm p-2 mt-5 bg-light rounded" style="width: 40ch;">
            <form method="post" action="{% url 'cadastrar_usuario' %}" style="text-align: right;">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Novo Usuário</label>
                    <div class="col-sm-7">
                        {{form_usuario.username}}
                        {{form_usuario.username.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Criar Senha</label>
                    <div class="col-sm-7">
                        {{form_usuario.password1}}
                        {{form_usuario.password1.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" >Confirmar senha</label>
                    <div class="col-sm-7">
                        {{form_usuario.password2}}
                        {{form_usuario.password2.errors}}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12" style="text-align: right;">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
