{% extends 'locadora/base.html' %}

{% block content %}

<article class="auth">
    <div class="auth_content container content">
        <header class="auth_header">            
            <h1>{{titulo}}</h1>
        </header>

        <form class="auth_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span>Veículo: <input type="text" class="form-control" disabled value="{{veiculo.placa}}"></span>
            
            
            {{form_imagens}}
            
            <button class="auth_form_btn transition gradient gradient-blue gradient-hover">Salvar</button>
        </form>
    </div>
</article>

{% endblock %}